:root {
    --background_color: black;
    --border_color: white;
    --font_color: white;
    --theme: red;
}

body {
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 100svw;
    background-color: var(--background_color);
    display: grid;
    grid-template-areas:
        'actions'
        'border'
        'content';
    grid-template-rows: 10% 1% auto;
    user-select: none;
    /* Prevent text selection */
    -webkit-user-select: none;
    /* For Safari/Chrome */
    -ms-user-select: none;
    /* For older IE versions */
    touch-action: manipulation;
    /* Disable zoom on double-tap */

}

.custom_border {
    grid-area: border;
    width: auto;
    border-bottom: 1px solid var(--theme);
    margin: 0 15% 0 15%;
}

.action_bar {
    width: 100svw;
    grid-area: actions;
    background-color: var(--background_color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    position: relative;
}


.action_bar>.nav_links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action_bar>.nav_links>.nav {
    margin: 0.5%;
    height: 50%;
    width: 15%;
    font-size: 2rem;
    border-radius: 5%;
    border-color: var(--border_color);
    color: var(--font_color);
    background-color: var(--background_color);
    flex: 0 1 auto;

}

.action_bar>.nav_links>.nav:active,
.action_bar>.nav_links>.nav:focus,
.action_bar>.nav_links>.nav.active {
    border-color: red;
    color: red;
}


.action_bar>.nav_links>.mobile_menu.active {
    border-color: red;
    color: red;
}


.action_bar>.nav_links>.mobile_menu {
    display: none !important;
    background-color: var(--background_color);
    border-color: var(--border_color);
    color: var(--font_color);
    aspect-ratio: 1 / 1;
    /* Ensures it stays square */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 50px;
    /* Adjust based on text length */
    height: 50px;
    /* Slightly taller for padding */
    border-radius: 10px;
    /* Optional for rounded corners */
}

.toggle_mode {
    height: 1.5rem;
    width: 4rem;
    border: 1px solid var(--theme);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    margin-right: 10rem;
}

.switch {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--font_color);
}

.logo {
    flex: 0 1 auto;
    /* Ensures it stays at the start */
}

.logo>img {
    height: 10svh;
    width: 10svw;
}

.content {
    width: 100svw;
    grid-area: content;
    background-color: var(--background_color);
    display: grid;
    grid-template-areas:
        'left_bar center right_bar';
    grid-template-columns: 20% auto 20%;
}

.left_bar {
    grid-area: left_bar;
    background-color: var(--background_color);
}

.center {
    grid-area: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_bar {
    grid-area: right_bar;
    background-color: var(--background_color);
}


@media screen and (max-width: 1000px) {
    .action_bar>.nav_links>.nav {
        display: none;
    }

    .action_bar>.nav_links>.mobile_menu {
        display: flex !important;
    }

    .content {
        grid-template-areas: 'center';
        grid-template-columns: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo>img {
        height: 80px;
        width: 80px;
    }
}

/* 4k screens */
@media screen and (min-width: 2560px) {
    .action_bar>.nav_links>.nav {
        font-size: 3rem;
    }

    .logo>img {
        width: 10svw;
        height: 10svh;
    }

    .toggle_mode {
        height: 3rem;
        width: 8rem;
    }

    .switch {
        height: 3rem;
        width: 3rem;
    }
}

@media screen and (max-height: 600px) {
    body {
        grid-template-rows: 15% 1% auto !important;
    }
}

@media screen and (max-height: 400px) {
    body {
        grid-template-rows: 20% 1% auto !important;
    }
}

@media screen and (max-height: 300px) {
    body {
        grid-template-rows: 25% 1% auto !important;
    }
}