:root {
    --background_color: black;
    --border_color: white;
    --font_color: white;
}

body {
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 100svw;
    background-color: var(--background_color);
    display: grid;
    grid-template-areas:
        'actions'
        'content';
    grid-template-rows: 10% auto;
}

.action_bar {
    grid-area: actions;
    background-color: var(--background_color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action_bar>button:nth-child(-n+4) {
    margin: 0.5%;
    height: 50%;
    width: 15%;
    font-size: 140%;
    border-radius: 5%;
    border-color: var(--border_color);
    color: var(--font_color);
    background-color: var(--background_color);
}

.action_bar>button:nth-child(-n+4):active,
.action_bar>button:nth-child(-n+4):focus,
.action_bar>button.active {
    border-color: red;
    color: red;
}

.mobile_menu {
    display: none !important;
    background-color: var(--background_color);
    border-color: var(--border_color);
    color: var(--font_color);
    font-size: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.content {
    grid-area: content;
    background-color: var(--background_color);
    display: grid;
    grid-template-areas:
        'left_bar center right_bar';
    grid-template-columns: 20% auto 20%;
}

.left_bar {
    grid-area: left_bar;
    background-color: var(--background_color);
}

.center {
    grid-area: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_bar {
    grid-area: right_bar;
    background-color: var(--background_color);
}

.test {
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: var(--border_color);
    width: 50%;
    height: 35%;
    display: flex;
}

.hello {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--font_color);
}


@media screen and (max-width: 768px) {
    .action_bar>button:nth-child(-n+4) {
        display: none;
    }

    .mobile_menu {
        display: flex !important;
    }
}